@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;1,100;1,200;1,400&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  background-color: #0b1736;
  place-items: center;
}
.container1 {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #0b1736;
}
.form-container {
  width: 100vw;
  position: relative;
  top: 1rem;
  height: 11vh;
}
.form {
  display: flex;
  width: 100vw;
  height: 90%;
  column-gap: 2rem;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}
.url-input {
  border-radius: 0.4rem;
  flex: 0.6;
  outline: none;
  padding: 1rem;
  font-size: 1.3em;
  font-weight: medium;
  border: none;
}
.submit-button {
  color: white;
  background-color: #2a5bd7;
  flex: 0.3;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.3rem;
}
.submit-button:hover {
  background-color: #2a5bd7;
}
.info {
  color: #9ca1ad;
  font-size: 0.875rem;
  text-align: center;
}
